@import 'bootstrap';
@import "font-awesome";

body{
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    background-color: #EEFFFF;
}

.area{
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    border: double 10px #5bc0de;
}

.textarea{
    resize: none;
    min-height:150px;
}

.show-left-area{
    width:300px;
}

.show-right-area{
    width:780px;
}

.image{
    border-radius: 50%;
    border:solid;
    border-color: #5bc0de;
    object-fit: cover;
}

.show-image{
    height: 130px;
    width: 130px;
}

.header-image{
    height: 60px;
    width: 60px;
}

.index-image{
    height:50px;
    width:50px;
}
input{
    font-family: FontAwesome;
    }
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
